################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Certificados.API/obj
/Certificados.Domain/obj
/Certificados.Extensions/obj
/Certificados.Infra/obj
/Certificados.Infra.Integration/obj
/Certificados.Services/obj
/obj
